html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content="Cheetah.io is the fastest way to keep and share you're documents in the cloud, it supports markdown and LaTex.")
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='stylesheet', type='text/css', href='./stylesheets/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/cheetah.css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/rainbow.css')
        link(rel='stylesheet', type='text/css', href='./stylesheets/editor.css')


        |<script>
        |  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        |  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        |  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        |  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        |  ga('create', 'UA-40348193-1', 'github.io');
        |  ga('send', 'pageview');
        |</script>

        |<script type='text/x-mathjax-config'>
        |    MathJax.Hub.Config({
        |    tex2jax: {inlineMath: [['$','$'], ['\\\(','\\)']]}
        |    });
        |</script>
        script(src='./javascripts/libs.js')
        script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", type="text/javascript", charset="utf-8")
        script(src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
        script(src='./javascripts/bootstrap_init.js')
        script(src='./javascripts/editor.js')
        script(src='./javascripts/rontgen.js')
        script(src='./javascripts/becquerel.js')

    body
        .overlay
            .container-fluid
                .row-fluid
                    .span4.offset4.text-center
                        h1 Winding up.
                        .progress.progress-striped.active
                            .bar(style="width: 20%;")

        .navbar.navbar-fixed-top
            .navbar-inner-landing
                .container-fluid
                        ul.nav.left-side
                                li
                                    a.brand(href="http://cheetah.io") Cheetah.io
                                li.fullscreen.hide
                                    a(href="#", rel="tooltip", title="Zen mode.")
                                        i.icon-resize-full
                                li.not-fullscreen.hide
                                    a(href="#", rel="tooltip", title="Close zen mode.")
                                        i.icon-resize-small

        #container
            .row-fluid
                .span6#write
                    .becquerel-buttons-open
                        .btn-group.btn-group-vertical.pull-left
                            button.btn.becquerel-buttons-open
                                i.icon-arrow-right

                    div.becquerel-buttons.hide
                        .btn-group.btn-group-vertical.pull-left
                            button.btn.becquerel-buttons-close
                                i.icon-arrow-left
                            button.btn.bold
                                i.icon-bold
                            button.btn.italic
                                i.icon-italic
                            button.btn.quote
                                i.icon-quote-right
                            button.btn.ul
                                i.icon-list-ul
                            button.btn.ol
                                i.icon-list-ol
                            button.btn.code &#60;\&#62;
                            button.btn.h1 H1
                            button.btn.h2 H2
                            button.btn.h3 H3
                            button.btn.h4 H4


                    .write
                        form(action="/api/save", method="post")#post-form
                            input(type="text", placeholder="Title", name="title", value="").span12#input-title
                            input(type="hidden", placeholder="Title", name="id", value="").input-xlarge

                            textarea(rows=26, placeholder="Body", name="body").span12.body
                            input.btn-primary(type="submit", name="submit", value="Save")
                        #editor.editor


                .span6#read
                    .read
                        .render#render
                            .render-title
                            .render-body

