h1{
  text-align: center;
  font-size: 28px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', "Georgia", "Times", "Times New Roman", serif, sans-serif;
  font-size: 1em;
  color: #333;
}


#container {
    display: block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
}

.navbar-inner-landing {
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px;
  background-color:white;
  border-bottom-color:#CCCCCC;
  border-bottom-style:solid;
  border-bottom-width:1px;
  box-shadow:rgba(0, 0, 0, 0.2) 0 1px 4px;
  box-sizing:content-box;
  height:55px;
  padding:0 30px;
}

/*
  Ace overrides
*/

.ace_print_margin{display: none;}

.ace_sb{display:none;}
/*
  Custom
*/

/*Editor*/
#write{
  /*border-right: 1px solid #e6e6e6;*/
  /*display:none;*/
}

.write {
  height:90%;
  margin-left:auto;
  margin-right:auto;
  width:600px;
  /*margin-top: 80px;*/
}

.editor{
  font-family: "inconsolata", monospace;
  font-size: 14px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: auto;
  height:90%;
  width:600px;
  overflow-y:auto;
  margin-top: 80px;
}


/*Render*/

.read{
  background-color: #eee;
  /*width:47%;*/
  /*float:right;*/
  height:100%;
  padding: 0px 20px;
  overflow-x:hidden;
  overflow-y:scroll;
}

.render{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width:600px;
  min-height: 85%;
  overflow-x:hidden;
  overflow-y:scroll;
  background-color: #fff;
  padding:40px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
 
}

/*Textareas*/
textarea, #input-title{
  border:none;
  margin:0;
  box-shadow:none;
  border:none;
}

#input-title{
  font-size: 20px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 0px;
}


.overlay{
  position:fixed;
  color:black;
  background-color: white;
  z-index: 999;
  padding-top: 300px;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}

.btn-group-vertical > button {
  border-left-style:none;
  margin-left:-13px !important;
  padding-right:0 !important;
  width:60px;
  height:30px;
  opacity:0.6;
}

.btn-group-vertical > button:hover{
  opacity:1;
}

.becquerel-buttons-open{
  border-bottom-left-radius:4px !important;
  border-bottom-right-radius:4px !important;
  border-top-left-radius:4px  !important;
  border-top-right-radius:4px !important;
}

.btn-group-vertical{
    float: left;
    position: absolute;
    width: 50px;
}